<%= form_with model:@book, local:true do |f| %>     
<%= render 'shared/error_messages', model: f.object %>
<% end %>
  <div class="container">  
      <div class="row">

         <%= render 'shared/new_book' %> 
              
                <div class="col-lg-8">
                    <table class="table table table-hover" >
                        <h1>Books</h1>
                         <thead>
                            <tr>
                               <th colspan="1"></th>
                               <th scope="col">Title</th>
                               <th scope="col">Opinion</th>
                            </tr>
                         </thead>
                       <% @books.each do |book| %>
                          <tbody>
                             <tr>
                                 <td><%= attachment_image_tag  book.user,  :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
                                 <td><%= link_to book.title, book_path(book.id) %></td>
                                 <td><%= book.body %></td>
                                 
                             </tr>
                          </tbody>
                       <% end %>
                   </table>
                </div>
      </div>
  </div>