<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
     <a class="navbar-brand" href="/">Bookers</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav4">
          <ul class="navbar-nav">
             <% if user_signed_in? %>
              <li><%= link_to user_path(current_user), class:"nav-link  active btn-block" do %>
              <i class="fas fa-home">Home</i>
              <% end %></li>
              <li class="nav-item active">
                  <a class="nav-link" href="/users"><i class="fas fa-users"></i>Users</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="books"><i class="fas fa-book-open"></i>Books</a>
              </li>
              <li><%= link_to destroy_user_session_path, method: :delete , class:"nav-link  active btn-block" do %>
              <i class="fas fa-sign-out-alt">logout</i>
              <% end %></li>
              <% else %>
              <li class="nav-item active">
                  <a class="nav-link" href="/"><i class="fas fa-home"></i>Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about"><i class="fas fa-users"></i>About</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="users/sign_up"><i class="fas fa-book-open"></i>Sign_up</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="users/sign_in"><i class="fas fa-sign-out-alt"></i>login</a>
              </li>
              <% end %>
         </ul>
     </div>
</nav>

     
    <%= yield %>
  
  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>
